/**
 * Frontline Business Solutions, Inc.
 * Author : FBS Team
 * ===================================================================
 * Table of Contents
 *
 * 1.0 - Resets
 * 2.0 - Repeatable Patterns
 * 3.0 - Structure / Grid / Column
 * 4.0 - Header
 * 5.0 - Main Content
 * 6.0 - Footer
 * 7.0 - Clearing
 * 8.0 - Mobile CSS / Media Queries
 * 9.0 - Font
 */
/* =================================================================== 
 * 1.0 :: Resets
 * ===================================================================
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #2b2b2b;
  font: 14px/24px 'Lato-Regular', Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: 'Lato-Regular';
  font-size: 42px;
}

p {
  line-height: 26px;
}

sub {
  font-size: 12px;
  font-family: 'Lato-Regular';
}

hr {
  margin: 0;
}

.fa {
  vertical-align: middle;
}

article,
aside,
figure,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
/* =================================================================== 
    * 2.0 :: Repeatable Patterns
    * ===================================================================
    */
h1 {
  font-size: 60px;
  color: black;
}

section {
  padding: 60px 0;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.break-word {
  overflow-wrap: break-word;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.height-vh-90 {
  min-height: 90vh;
}

.min-height-300 {
  min-height: 300px;
}

.card {
  width: 261px;
  height: 262px;
  margin: 0 auto;
}

.card a {
  padding: 10px 15px;
}

.card a i {
  vertical-align: middle;
  transition: 0.2s all ease-in-out;
}

.card:hover i {
  transform: translateX(15px);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.regular {
  font-family: 'Lato-Regular';
}

.thin {
  font-family: 'Lato-Thin';
}

.medium {
  font-family: 'Lato-Medium';
}

.semibold {
  font-family: 'Lato-Semibold';
}

.bold {
  font-family: 'Lato-Bold';
}

.heavy {
  font-family: 'Lato-Heavy';
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
  line-height: 48px;
}

.fs-42 {
  font-size: 42px;
  line-height: 48px;
}

.fs-36 {
  font-size: 36px;
  line-height: 50px;
}

.fs-59 {
  font-size: 59px;
}

.my-5 {
  margin: 5px;
}

.my-10 {
  margin: 10px 0;
}

.my-20 {
  margin: 20px 0;
}

.my-30 {
  margin: 30px 0;
}

.my-40 {
  margin: 40px 0;
}

.my-60 {
  margin: 60px 0;
}

.full-width {
  width: 100%;
}

.border-grey {
  border: 1px solid #e0e0e0;
}

.w-432 {
  width: 432px;
}

.w-336 {
  width: 336px;
}

.w-300 {
  width: 300px;
}

.w-273 {
  width: 273px;
}

.w-263 {
  width: 263px;
}

.w-214 {
  width: 214px;
}

.w-213 {
  width: 213px;
}

.w-235 {
  width: 235px;
}

.w-52 {
  width: 52px;
}

.text-decoration-none {
  text-decoration: none;
}

.text-red {
  color: #8a0000;
}

.text-yellow {
  color: #eea813;
}

.text-black {
  color: #000;
}

.text-blue {
  color: #4199cf;
}

.text-green {
  color: #0f6302;
}

.text-purple {
  color: #6a103f;
}

.text-white {
  color: #fff;
}

.bg-card-white {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-card-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black {
  background-color: #000;
}

.bg-semi-black {
  background-color: #131313;
}

.bg-purple {
  background-color: #6a103f;
}

.bg-blue {
  background-color: #4199cf;
}

.bg-green {
  background-color: #0f6302;
}

.bg-red {
  background-color: #8a0000;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #ddd;
}

.bg-yellow {
  background-color: #eea813;
}

.bg-transparent {
  background-color: transparent;
}

.border-white {
  border: 1px solid #fff;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.btn-donate {
  background-color: #eea813;
  color: #fff;
  display: inline;
  padding: 12px 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.87rem;
  letter-spacing: 0.15em;
  transition: all 0.2s ease-in-out;
}

.btn-learn-more {
  padding: 10px 40px;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.2s all ease-in-out;
}

.btn-learn-more:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.btnBurger {
  padding: 0 40px;
  cursor: pointer;
  display: none;
}

.btnBurger i {
  transition: all 0.2s ease-in-out;
}

.btnBurger:hover i {
  color: #eea813;
}

.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.caret-down {
  bottom: 9px;
  right: 14px;
}

.caret-down i {
  font-size: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-37 {
  margin-bottom: 37px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-0 {
  padding-top: 0;
}

.pt-30 {
  padding-top: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.px-140 {
  padding: 0 140px;
}

.px-30 {
  padding: 0 30px;
}

.py-20 {
  padding: 20px 0;
}

.py-30 {
  padding: 30px 0;
}

.py-60 {
  padding: 60px 0;
}

.py-40 {
  padding: 40px 0;
}

.py-80 {
  padding: 80px 0;
}

.pd-15 {
  padding: 15px;
}

.pd-30 {
  padding: 30px;
}

.pd-20 {
  padding: 20px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-0 {
  letter-spacing: 0;
}

.text-center {
  text-align: center;
}

.absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.h-328 {
  height: 328px;
}

.t-justify {
  text-align: justify;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-unset {
  vertical-align: unset;
}

.no-pd {
  padding: 0;
}

.width-auto {
  width: auto;
}

.margin-auto {
  margin: 0 auto;
}

.margin-left-0 {
  margin-left: 0 !important;
}

/* ===================================================================
    * 3.0 :: Structure / Grid/ Column
    * ===================================================================
    */

/* Uncomment and set these variables to customize the grid. */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
/* =================================================================== 
    * 4.0 :: Header
    * ===================================================================
    */

header {
  height: 10vh;
  background-color: #f1f1f1;
}

header .logo {
  width: 250px;
  float: left;
  padding: 5px 0;
  height: 10vh;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
  position: relative;
}

header nav ul li a {
  height: 10vh;
  line-height: 10vh;
  font-size: 0.87rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 0 16px;
  color: #000;
  transition: all 0.2s ease-in-out;
}

header nav ul li a:hover {
  color: #eea813;
}

.btn-donate:hover {
  color: #fff;
  font-family: 'Lato-Semibold';
}

header nav ul li a:nth-child(9):hover {
  color: #fff;
}

header nav ul li ul {
  position: absolute;
  left: -43px;
  background-color: #f1f1f1;
  width: 220px;
  padding: 0 10px;
  display: none;
}

.dropdown {
  display: block;
  z-index: 2;
}

.active {
  border-bottom: 4px solid #eea813;
}

/* =================================================================== 
    * 5.0 :: Main Content
    * ===================================================================
    */

/* Banner Section */

#banner {
  position: relative;
}

#banner-mobile {
  display: none;
}

#banner-mobile .layer-yellow-30 .btn {
  transition: 0.2s all ease-in-out;
}

#banner-mobile .active {
  border: unset;
}

.background-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.layer-black {
  background-color: rgba(0, 0, 0, 0.6);
}

.layer-red {
  background-color: rgba(138, 0, 0, 0.6);
}

.layer-red-70 {
  background-color: rgba(138, 0, 0, 0.7);
}

.layer-blue {
  background-color: rgba(65, 153, 207, 0.6);
}

.layer-blue-70 {
  background-color: rgba(65, 153, 207, 0.7);
}

.layer-green {
  background-color: rgba(15, 99, 2, 0.6);
}

.layer-green-70 {
  background-color: rgba(15, 99, 2, 0.7);
}

.layer-purple {
  background-color: rgba(106, 16, 63, 0.6);
}

.layer-purple-70 {
  background-color: rgba(106, 16, 63, 0.7);
}

.layer-yellow-30 {
  background-color: rgba(238, 168, 19, 0.3);
}

.layer-black-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.layer-black-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-church-planting {
  background-image: url('../assets/img/bg-church-planting.jpg');
}

.bg-compassion {
  background-image: url('../assets/img/bg-compassion.jpg');
}

.bg-education {
  background-image: url('../assets/img/bg-education.jpg');
}

.bg-social-enterprise {
  background-image: url('../assets/img/bg-social-enterprise.jpg');
}

.bg-about {
  background-image: url('../assets/img/bg-about.jpg');
}

.bg-banner-church-planting {
  background-image: url('../assets/img/bg-banner-church-planting.jpg');
}

.bg-banner-compassion {
  background-image: url('../assets/img/bg-banner-compassion.jpg');
}

.bg-banner-education {
  background-image: url('../assets/img/bg-banner-education.jpg');
}

.bg-banner-social-enterprise {
  background-image: url('../assets/img/bg-banner-social-enterprise.jpg');
}

.bg-banner-archive {
  background-image: url('../assets/img/bg-banner-archive.jpg');
}

.bg-banner-contact {
  background-image: url('../assets/img/bg-banner-contact.jpg');
}

.bg-banner-donate {
  background-image: url('../assets/img/bg-banner-donate.jpg');
}

.glider-prev {
  left: 15px !important;
}

.glider-next {
  right: 15px !important;
}

.glider-prev,
.glider-next {
  top: 40% !important;
  color: #fff !important;
}

.glider-prev,
.glider-next i {
  color: #fff;
}

.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.hub > a:last-child:hover {
  transition: 0.2s all ease-in;
}

.hub > a:last-child:hover {
  background-color: #000;
  color: #fff;
}

/* End Banner Section  */

/* Newsletter Section */

.bg-newsletter {
  background-image: url('../assets/img/bg-newsletter.png');
}

form select {
  display: block;
  width: 100%;
  padding: 12px 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 25px;
  border: 1px solid #e0e0e0;
  border-radius: none;
  outline: none;
  background-color: #fff;
}

form input[type='text']:focus,
form textarea:focus {
  box-shadow: 0 0 5px rgba(238, 168, 19, 1);
  border: 1px solid rgba(238, 168, 19, 1);
}

form textarea,
input[type='text'] {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  outline: none;
  padding: 12px 15px;
  width: 100%;
  resize: none;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
}

form input[type='submit'] {
  padding: 12px 25px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 9px;
  vertical-align: middle;
}

/* End Newsletter Section */

/* Page Title Section */

.page-title {
  min-height: 200px;
  position: relative;
}

.page-title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  line-height: 60px;
}

/* End Page Title Section */

/* History Section */

.history-img-wrapper {
  width: 400px;
  height: auto;
  margin: 95px auto;
}

/* End History Section */

/* Mission-Vision Section */

#mission-vision {
  background-color: #f1f1f1;
}

.core-values {
  width: 96px;
  margin: 0 auto;
}

/* End Mission-Vision Section */

.contact-wrapper {
  margin: 20px auto;
}

.credit-card {
  margin: 20px auto;
}

.credit-card-wrapper {
  padding: 15px 20px;
}

.transaction-form-wrapper {
  margin: 20px auto;
}

.listMinistries li {
  padding: 20px 0;
  cursor: pointer;
}

.listMinistries li a {
  line-height: 20px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}

.listMinistries li:hover {
  border-bottom: 3px solid #eea813;
}

.listMinistries li:hover a {
  color: #eea813;
}

/* ===================================================================
    * 6.0 :: Footer
    * ===================================================================
    */

footer ul li {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

footer ul li a:hover {
  color: #eea813;
}

.footer-social ul li {
  display: inline-block;
}

.footer-social ul li a i {
  font-size: 28px;
  vertical-align: middle;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.footer-social ul li a i:hover {
  color: #eea813;
}
/* ===================================================================
    * 7.0 :: Clearing
    * ===================================================================
    */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,
.inside:after,
li:after,
form:after,
article:after {
  content: ' ';
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/* ===================================================================
    * 8.0 :: Mobile CSS
    * ===================================================================
    */
@media screen and (max-width: 1260px) {
}

@media screen and (max-width: 1199px) {
  #banner h1 {
    margin-top: 60px;
  }

  .header-mobile-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul li a,
  .listMinistries li a {
    height: 7vh;
    line-height: 7vh;
  }

  .listMinistries li {
    padding: unset;
  }

  .latest-post {
    margin-top: 40px;
  }

  .icon-wrapper {
    padding: 80px;
  }

  .card {
    margin: 30px auto;
  }

  #thank-you {
    text-align: center;
  }

  #thank-you img {
    margin-top: 40px;
  }

  #thank-you a {
    display: block;
    text-align: center;
  }

  #banner {
    height: auto;
  }

  nav {
    display: none;
  }

  .btnBurger {
    display: block;
  }
  header {
    border-bottom: 2px solid #eea813;
  }

  header nav {
    float: none;
    z-index: 9999;
    background-color: #f1f1f1;
    position: relative;
  }

  header .container {
    width: 100%;
  }

  header .logo {
    float: none;
    padding: 0 40px;
    /* width: 200px; */
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li ul {
    position: unset;
    padding: unset;
    width: unset;
    background-color: #e1e1e1;
    text-align: left;
  }

  header .btn-donate {
    display: block;
    padding: unset;
  }

  .hub {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  #partners img {
    padding: 0 100px;
  }

  #banner-mobile {
    display: block;
  }

  #history {
    text-align: center;
  }

  #history-pfm .t-justify {
    text-align: center;
  }

  #banner {
    display: none;
  }

  #ministries {
    text-align: center;
  }

  #ministries .t-justify {
    text-align: center;
  }

  #ministries .vertical-align {
    flex-direction: column-reverse;
  }

  .icon-wrapper {
    padding: 40px;
  }
}

@media screen and (max-width: 482px) {
  #newsletter h3 {
    line-height: 30px;
  }

  #newsletter .w-300 {
    display: block;
    width: 100%;
  }

  #newsletter input[type='text'] {
    margin-bottom: 15px;
  }

  #newsletter input[type='submit'] {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .w-432 {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  #partners img {
    padding: unset;
  }

  .page-title {
    min-height: 140px;
  }

  .page-title h1 {
    font-size: 18px;
    line-height: 1.6;
  }

  .history-img-wrapper {
    width: 100%;
  }

  .w-336 {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .credit-card-wrapper p {
    text-align: center;
    margin-bottom: 0;
  }

  .credit-card-wrapper .w-235 {
    margin: 20px auto;
  }

  .credit-card-wrapper .w-52 {
    margin: 20px auto;
  }

  .credit-card-wrapper .vertical-align {
    display: block;
  }
}

@media screen and (max-width: 320px) {
}
/* ===================================================================
    * 9.0 :: Font
    * ===================================================================
    */

@font-face {
  font-family: 'Lato-Regular';
  src: url('../assets/fonts/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../assets/fonts/Lato-Light.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../assets/fonts/Lato-Medium.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url('../assets/fonts/Lato-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../assets/fonts/Lato-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Heavy';
  src: url('../assets/fonts/Lato-Heavy.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
